*{
     margin:0px;
	 padding:0px;
	 box-sizing:border-box;
}
.maindiv{
	 margin:0 auto;
	 width:500px;
	 border:1px solid black;
	 background-color:gray;
	 height:600px;
}
img{
	width:100%;
	padding:20px;
	
	
}
#headingtag{
	padding:20px;
}
.para{
	padding:20px;
}
a{
     padding: 12px;
    border: 1px solid black;
    margin-left: 121px;
    text-decoration: none;
    /* color: wheat; */
    background-color: wheat;
}